.app {
    text-align: center;
}

header {
    font-size: 50px;
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.btn-start {     
    font-size: 35px;
    color: white;
    margin: 50px;
    padding: 10px 15px;
    background-color: purple;
    border: 50px;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
    text-transform: uppercase;
}
     
.btn-start:hover {
    color: purple;
    background-color: gray !important;
}

.questions {
    font-size: 30px;
    color: white;
    background-color: purple;
    border-radius: 8px;
    padding: 25px;
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    margin-top: 20px;
  }

.btn-answers {
    color: white;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 10px;
    background-color: blue !important;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
}
     
.btn-answers:hover {
    color: purple;
    background-color: gray !important;
} 
  
.btn-next {
    font-size: 30px;
    width: 15%;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: purple;
    background-color: white !important;
    cursor: pointer;
}
.btn-next:hover {
    color: purple;
    background-color: gray !important;
}
.btn-selected {
    background-color: gray !important;
  }
  .score {
    display: flex;            
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Vertical alignment */
    font-size: 36px;
    color: white;
    background-color: blue;
    padding: 10px 350px; /* Adjust padding to maintain spacing */
    padding-top: 18px;
    position: fixed;
    bottom: 200px;
    left: 50%;               /* Start from the center horizontally */
    transform: translateX(-50%); /* Center align using transform */
    width: 100%;              /* Set a relative width */
}

.final-score {
    font-size: 36px;
    margin-top: 50px;
    color: purple;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.btn-retake {     
    font-size: 35px;
    color: white;
    margin: 50px;
    padding: 10px 15px;
    background-color: purple;
    border: 50px;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
}

.btn-retake:hover {
    color: purple;
    background-color: gray !important;
}