.app {
    text-align: center;
}

header {
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 5px; /* Optional: Slightly rounded corners */
    text-align: center;
}

.btn-start {     
    font-size: 35px;
    color: white;
    margin: 50px;
    padding: 10px 15px;
    background-color: purple;
    border: 50px;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
    text-transform: uppercase;
}
     
.btn-start:hover {
    color: purple;
    background-color: gray !important;
} 
.questions {
    font-size: 25px;
    color: white;
    background-color: purple;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
  }

.btn-answers {
    color: white;
    margin: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: blue !important;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
}
     
.btn-answers:hover {
    color: purple;
    background-color: gray !important;
} 
  
.btn-next {
    font-size: 25px;
    width: 15%;
    margin: 20px auto;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    color: purple;
    background-color: white !important;
    cursor: pointer;
}
.btn-next:hover {
    color: purple;
    background-color: gray !important;
}


  
/*   
  .score-section {
    font-size: 1.5rem;
  } */