.app {
    text-align: center;
  }
  
  .card {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 2em;
    margin-top: 50px;
    text-align: center;
  }


  .btn-container {
    margin-top: 20px;
  }
  
  .btn {
    margin: 5px;
    padding: 10px 15px;
    background-color: blue;
    border: 10px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: gray;
  }
  
  header {
    background-color: blue;
    color: white;
    padding: 1em;
    border-radius: 5px; /* Optional: Slightly rounded corners */
    text-align: center;
  }
  

.questions {
    background-color: #3a3f47;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
  }


  
  /* body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  /* .nav-bar {
    background-color: #20232a;
    padding: 10px;
  }
  
  .question-card {
    background-color: #3a3f47;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .answer-section button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .answer-section button:hover {
    background-color: #21a1f1;
  }
  
  .score-section {
    font-size: 1.5rem;
  } */