.btn {
    color: white;
    margin: 5px;
    padding: 10px 15px;
    background-color: blue;
    border: 10px;
    cursor: pointer;
}
  
.btn:hover {
    background-color: gray;
}

.questions {
    color: white;
    background-color: purple;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
 }